.container {
    background-color: #FBF2E9;
}

.user-card{
    cursor:pointer;
    padding:20px;
    border-radius:8px;
    background:white;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align:center;
    transition:0.2s;
}

.user-card:hover{
    transform:scale(1.05);
}

.post{
    background:white;
    padding:15px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    margin-bottom:20px;
}

.post:hover{
    transform:scale(1.05);
}